/*
system: base16
slug: black-metal-dark-funeral-light
name: Black Metal (Dark Funeral) — Light
author: metalelf0 (https://github.com/metalelf0)
variant: light
palette:
*/


	

:root {
	--base00: #f8f8f8;
	--base01: #e8e8e8;
	--base02: #d8d8d8;
	--base03: #b8b8b8;
	--base04: #585858;
	--base05: #383838;
	--base06: #282828;
	--base07: #181818;
	--base08: #ab4642;
	--base09: #dc9656;
	--base0A: #5f81a5;
	--base0B: #5f81a5;
	--base0C: #d0dfee;
	--base0D: #7cafc2;
	--base0E: #ba8baf;
	--base0F: #a16946;
}
