{% extends "base.html" %}

{% block content %}
<h1>{{ section.title }}</h1>

{% if config.extra.title_space %}
<br/>
{% endif %}


{{ section.content | safe }}

{% if paginator %}
{% set pages = paginator.pages %}
{% else %}
{% set pages = section.pages %}
{% endif %}

{% for child in pages %}
  <article class="post">
    <header class="post__header">
        <time datetime="{{ child.date }}"><span class="date">{{ child.date | date(format="%d/%m/%y") }}</span></time> » 
        <a href="{{ child.permalink }}">{{ child.title }}</a>
    </header>
  </article>
{% endfor %}


{% endblock %}
