{% extends "base.html" %}

{% block content %}
<h1>{{ section.title }}</h1>

{{ section.content | safe }}


{% if paginator %}
{% set pages = paginator.pages %}
{% else %}
{% set pages = section.pages %}
{% endif %}

<ul class="title-list">
{% for child in pages %}
  <article class="post">
    <header class="post__header">
        <time datetime="{{ child.date }}"><span class="date">{{ child.date }}</span></time>
        <a href="{{ child.permalink }}">{{ child.title }}</a>
    </header>
  </article>
{% endfor %}
</ul>

{% if paginator %}
<div class="accent-data">{% if paginator.previous %}<a href="{{ paginator.first }}">⥶</a> &nbsp <a href="{{ paginator.previous }}"><</a>{% endif %} &nbsp {{ paginator.current_index }} / {{ paginator.number_pagers }} &nbsp {% if paginator.next %}<a href="{{ paginator.next }}">></a> &nbsp <a href="{{ paginator.last }}">⥸</a>{% endif %}</div>
{% endif %}
<a>
  
{% endblock %}
